{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QoLab</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
    <script
      src="https://kit.fontawesome.com/37c4dcbe51.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Lato|Work+Sans:400,600,700&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'main.css' %}" rel="stylesheet" />
    <!-- Add additional CSS in static file -->
  </head>

  <body style="background-color: #FCF8ED">
    <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link title-text" href="#"
                >QoLab <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  -->
    <style>
      html, body, #app {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="container" id="app" style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
      <div style="padding-top: 100px; text-align: center;">
        <img width="80%; max-width: 300px;" src="{% static 'qolab-wordmark.png' %}" alt="Main Image">
      </div>
      {% if user.is_authenticated %}
      <p>Welcome, {{ user.first_name }} {{user.last_name }} !</p>
      <p>Welcome, {{ user.email }} </p>
      
      {% else %}
      <div style="display: flex; flex-direction: column; align-items: center; ">
        <a href="http://127.0.0.1:8000/accounts/google/login/" type="button" class="btn btn-dark btn-primary btn-lg btn-block">Continue With Google</a>
        <button href="http://127.0.0.1:8000/accounts/google/login/" type="button" class="btn btn-link btn-block">Continue With Facebook</button>

      </div>
      {% endif %}
      </div>
      <div style="display: block; padding: 100px"></div>
    </div>
    <!-- Must put the script below after the app div -->
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
